/* Variables */

:root {
    --text-color-primary: #f7f7f7;
    --text-color-secondary: #f2911b;
}

body {
    font-family: 'Roboto Condensed', sans-serif;
    color: var(--text-color-primary);
    background-color: #111111;
}

/* Main Header */

.main-header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background-color: #000000;
    -webkit-box-shadow: 0px 15px 30px 30px rgba(0,0,0,1);
    -moz-box-shadow: 0px 15px 30px 30px rgba(0,0,0,1);
    box-shadow: 0px 15px 30px 30px rgba(0,0,0,1);
    padding: 15px;
    z-index: 9999;
}

.header-container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.brand {
    font-size: 40px;
    margin: 0;
}

.brand span {
    color: var(--text-color-secondary);
}

.menu-btn {
    background-color: #000000;
    border: none;
}

.main-nav {
    display: none;
    flex-direction: column;
    width: 100%;
}

.main-nav a {
    margin: 15px auto;
    text-decoration: none;
    font-size: 25px;
    color: grey;
}

.main-nav a:hover {
    color: var(--text-color-primary);
    transition: color .4s ease-in;
}

.main-nav a span {
    color: var(--text-color-secondary);
}

/* Main Container */

.main-container {
    padding-top: 100px;
    padding-bottom: 100px
}

.homepage {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    margin: 15px 15px 60px 15px;
}

.homepage h1 {
    font-size: 40px;
    margin: 40px 0 10px;
    text-transform: uppercase;
    background: linear-gradient(to right, var(--text-color-secondary), #D93851 30%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.homepage h2 {
    margin: 10px 0;
    font-size: 30px;
}

.main-container h2 span {
    font-family: 'VT323', monospace;
}

/* Projects Page */

.projects-page {
    background-color: #000000;
    padding: 20px;
    -webkit-box-shadow: 20px 0px 20px 20px rgba(0,0,0,1);
    -moz-box-shadow: 20px 0px 20px 20px rgba(0,0,0,1);
    box-shadow: 20px 0px 20px 20px rgba(0,0,0,1);
}

h4 {
    margin-left: 5px;
    color: grey;
}

.projects-page h3 {
    width: 65%;
    border-bottom: 2px var(--text-color-secondary) solid;
    margin-top: 30px;
    margin-bottom: 40px;
    z-index: 99;
}

.projects-page img {
    width: 170px;
    position: absolute;
    align-self: center;
}

.projects-page div {
    height: fit-content;
    display: flex;
    margin: 20px 0;
}

.projects-page div:nth-child(even) h3 {
    margin-left: auto;
    text-align: right;
}

.projects-page div:nth-child(odd) img {
    right: 20px;
    -webkit-box-shadow: inset -150px 0px 130px -70px rgba(0,0,0,1);
    -moz-box-shadow: inset -150px 0px 130px -70px rgba(0,0,0,1);
    box-shadow: inset -150px 0px 130px -70px rgba(0,0,0,1);
}

/* Media Queries */

@media (min-width: 768px) {
    main {
        width: 90%;
        max-width: 1200px;
        margin: auto;
        border-left: 2px solid var(--text-color-secondary);
    }
    .menu-btn {
        display: none;
    }
    .main-nav {
        display: flex;
        flex-direction: row;
        width: auto;
        margin-left: auto;
    }
    .main-nav a {
        margin: 10px 15px;
    }
}
