/* Variables */

:root {
    --text-color-primary: #f7f7f7;
    --text-color-secondary: #f2911b;
}

body {
    font-family: 'Roboto Condensed', sans-serif;
    color: var(--text-color-primary);
    background-color: #111111;
}

/* Main Header */

.main-header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background-color: #000000;
    -webkit-box-shadow: 0px 0px 30px 30px rgba(0,0,0,1);
    -moz-box-shadow: 0px 0px 30px 30px rgba(0,0,0,1);
    box-shadow: 0px 0px 30px 30px rgba(0,0,0,1);
    padding: 15px;
    z-index: 9999;
}

.header-container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.brand {
    font-size: 40px;
    margin: 0;
}

.brand span {
    color: var(--text-color-secondary);
}

.menu-btn {
    background-color: #000000;
    border: none;
}

.main-nav {
    display: none;
    flex-direction: column;
    width: 100%;
}

.main-nav a {
    margin: 15px auto;
    text-decoration: none;
    font-size: 25px;
    color: grey;
}

.main-nav a:hover {
    color: var(--text-color-primary);
    transition: color .4s ease-in;
}

.main-nav a span {
    color: var(--text-color-secondary);
}

/* Main Container */

.homepage, .projects-page, .about-page, .contact-page {
    width: 90%;
    height: 100vh;
    margin: auto;
    padding: 100px 0 0 10px;
    border-left: 2px solid var(--text-color-secondary);
}

.homepage h1 {
    font-size: 40px;
    margin: 40px 0 10px;
    text-transform: uppercase;
    background: linear-gradient(to right, var(--text-color-secondary), #D93851 30%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.homepage h2 {
    font-size: 25px;
}

.main-container h2 span {
    font-family: 'VT323', monospace;
}

/* Projects Page */

h4 {
    color: grey;
}

#pp-nav {
    display: none;
}

img {
    width: 270px;
}

/* About Page */



/* Contact Page */



/* Media Queries */

@media (min-width: 768px) {
    .menu-btn {
        display: none;
    }
    .main-nav {
        display: flex;
        flex-direction: row;
        width: auto;
        margin-left: auto;
    }
    .main-nav a {
        margin: 10px 15px;
    }
    .homepage, .projects-page, .about-page, .contact-page {
        width: 80%;
        padding: 100px 30px 0 30px;
    }
    h4 {
        font-size: 1.5em;
    }
    h3 {
        font-size: 1.8em; 
    }
    .projects-container img {
        transition: all .3s linear;
    }
    .projects-container img:hover {
        -webkit-box-shadow: 0px 0px 40px 10px rgba(242,145,27,0.75);
        -moz-box-shadow: 0px 0px 40px 10px rgba(242,145,27,0.75);
        box-shadow: 0px 0px 40px 10px rgba(242,145,27,0.75);
        transform: scale(1.1);
    }
}
