// Base components

html {
    background-color: black;
}

body {
    font-family: 'Roboto Condensed', sans-serif;
    color: $text-color-primary;
    background: #303033 url(http://subtlepatterns.com/patterns/broken_noise.png);
}

h4 {
    color: grey;
    @include medium {
        font-size: 1.5em;
    }
}

