// Footer

#footer {
    background-color: #000000;
    -webkit-box-shadow: 0px -10px 20px 20px rgba(0,0,0,1);
    -moz-box-shadow: 0px -10px 20px 20px rgba(0,0,0,1);
    box-shadow: 0px -10px 20px 20px rgba(0,0,0,1);
}

#footer p {
    color: grey;
    font-size: 10px;
    font-style: italic;
    margin: 6px;
    @include medium {
        font-size: 16px;
    }
    @include large {
        margin: 15px;
    }
}