/* src/index.css */
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;400;700;900&family=Fira+Code:wght@400;500&display=swap");

/* CONFIGURAZIONE LENIS + SNAP */

html.lenis,
html.lenis body {
  height: auto;
}

.lenis.lenis-smooth {
  scroll-behavior: auto !important; /* FONDAMENTALE: Disabilita smooth nativo, lascia fare a Lenis */
}

.lenis.lenis-smooth [data-lenis-prevent] {
  overscroll-behavior: contain;
}

.lenis.lenis-stopped {
  overflow: hidden;
}

.lenis.lenis-scrolling iframe {
  pointer-events: none;
}

/* IL MAGNETE */
html {
  /* Definiamo che lo scroll deve agganciarsi sull'asse Y */
  scroll-snap-type: y mandatory;
}

body {
  margin: 0;
  padding: 0;
  background-color: #0a0a0a;
  color: white;
  overflow-x: hidden;
}

/* LE REGOLE PER OGNI SLIDE */
.snap-section {
  /* Allinea l'inizio della sezione col top dello schermo */
  scroll-snap-align: start;

  /* IL SEGRETO: "Always" forza il browser a fermarsi a questa sezione.
     Impedisce di scorrere 2-3 sezioni con un colpo solo. */
  scroll-snap-stop: always;

  /* Assicuriamo che non ci siano margini strani */
  scroll-margin-top: 0px;
}

::-webkit-scrollbar {
  width: 0px;
  background: transparent;
}
