/* src/index.css */
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;400;700;900&family=Fira+Code:wght@400;500&display=swap");

/* Reset e Base */
html,
body {
  margin: 0;
  padding: 0;
  background-color: #0a0a0a; /* Il nero di base */
  color: white;
  overflow-x: hidden; /* Evita scroll orizzontale */
}

/* Configurazioni Lenis (Manteniamo lo scroll fluido inerziale) */
html.lenis,
html.lenis body {
  height: auto;
}
.lenis.lenis-smooth {
  scroll-behavior: auto !important;
}

/* Scrollbar nascosta per pulizia */
::-webkit-scrollbar {
  width: 0px;
  background: transparent;
}
