@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;400;700;900&family=Fira+Code:wght@400;500&display=swap");

* {
  -webkit-tap-highlight-color: transparent !important;
  outline: none !important;
}

html,
body {
  margin: 0;
  padding: 0;
  background-color: #0a0a0a;
  color: white;
  overflow-x: hidden;
  position: relative;
}

body {
  overscroll-behavior-y: none;
}

html.lenis,
html.lenis body {
  height: auto;
}
.lenis.lenis-smooth {
  scroll-behavior: auto !important;
}

::-webkit-scrollbar {
  width: 0px;
  background: transparent;
}

@media (max-width: 900px) {
  #spotlight-cursor {
    display: none !important;
  }
  h1 {
    font-size: 2.5rem !important;
  }
  h2 {
    font-size: 2rem !important;
  }
}
