@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;400;700;900&family=Fira+Code:wght@400;500&display=swap");

html,
body {
  margin: 0;
  padding: 0;
  background-color: #0a0a0a;
  color: white;
  overflow-x: hidden;
}

html.lenis,
html.lenis body {
  height: auto;
}
.lenis.lenis-smooth {
  scroll-behavior: auto !important;
}

::-webkit-scrollbar {
  width: 0px;
  background: transparent;
}
